version: "3.9"

services:
  mongo:
    image: mongo
    container_name: colabshopper-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./colabshopper-backend
    container_name: colabshopper-backend
    restart: unless-stopped
    environment:
      - PORT=8080
      - MONGO_URI=mongodb://mongo:27017/colabshopper
      - JWT_SECRET=devsecret
    depends_on:
      - mongo
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./colabshopper-frontend
    container_name: colabshopper-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data: